body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e1e1e;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
}

input, textarea, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  background: #5865F2;
  color: white;
  cursor: pointer;
}

textarea {
  resize: none;
  height: 60px;
}
